.app {
    text-align: center;
    position: relative;
}

.appHeader {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.appHeader .spinningUser {
    height: 40px;
    pointer-events: none;
}

.heading {
    text-transform: uppercase;
    font-size: 4rem;
    overflow-wrap: break-word;
}

.headingLogoContainer img {
    width: 15rem;
}

.festivalDates {
    font-size: 1.25rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.unicorn {
    position: absolute;
    height: 150px;
    transform: translateX(-145px);
}

.unicorn.unicornMobile {
    height: 15rem;
    animation: moveUnicorn 4s infinite linear;
}

@keyframes moveUnicorn {
    0%,
    100% {
        transform: translateX(10px) rotate(0deg);
    }
    10%,
    90% {
        transform: translateX(20px) rotate(5deg);
    }
    20%,
    80% {
        transform: translateX(30px) rotate(10deg);
    }
    30%,
    70% {
        transform: translateX(40px) rotate(15deg);
    }
    40%,
    60% {
        transform: translateX(50px) rotate(20deg);
    }
    50% {
        transform: translateX(60px) rotate(25deg);
    }
}

@media screen and (min-width: 400px) {
    .festivalDates {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .headingLogoContainer img {
        width: 20rem;
    }
}

@media screen and (min-width: 770px) {
    .festivalDates {
        font-size: 2rem;
        color: white;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: bold;
    }

    .appHeader {
        padding: 40px;
    }

    .headingLogoContainer img {
        width: 40rem;
    }

    .appHeader .spinningUser {
        height: 60px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .spinningUser {
        animation: App-logo-spin infinite 3s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
