.folkaContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.folkInfo {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.fakta {
  color: white;
  text-align: justify;
}

.name {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.spinningUser {
  width: 150px;
  margin-bottom: 20px;
}

.spinningUser:hover {
  animation: App-logo-spin infinite 3s linear;
}



@media screen and (min-width: 770px) {
  .folkaContainer {
    width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .folkaContainer {
    width: 60%;
  }

  .folkInfo {
    width: 50%;
    text-align: start;
  }
}

@media screen and (min-width: 1300px) {
  .folkaContainer {
    width: 80%;
  }
}

@media screen and (min-width: 1800px) {
  .folkaContainer {
    width: 60%;

  }

  .folkInfo {
    width: 33%;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
